p,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  margin: 0;
}

body {
  padding: 30px 100px;
}
header {
  h6 {
    line-height: 30px;
  }
}
.date-comments {
    p {
      font-size: 10px;
      white-space: nowrap;
    }
  
}
